
















<div class="container-app">
    <div class="app-menu">
        <app-menu></app-menu>
    </div>

    <div class="contenido">
        
         
        <section class="container-categoria">
            <div class="item-categoria">
                <p class="item-texto"> llegan hoy</p>
            <label class="switch">
                    <input type="checkbox" id="toggleSwitch">
                    <span class="slider"></span>
          </label>
        </div>
            <div class="item-categoria">
                <p class="item-texto"> FULL envio gratis</p>
                <label class="switch">
                    <input type="checkbox" id="toggleSwitch">
                    <span class="slider"></span>
          </label>
            </div>
            <div class="item-categoria">
                <p class="item-texto"> Envio gratis</p>
                <label class="switch">
                    <input type="checkbox" id="toggleSwitch">
                    <span class="slider"></span>
          </label>
            </div>
            <div class="item-categoria">
                <p class="item-texto">Mismo precio en cuotas</p>
                <label class="switch">
                    <input type="checkbox" id="toggleSwitch">
                    <span class="slider"></span>
          </label>
            </div>
        
        </section>
        
        <div class="sugerencia">
          <app-sugerencia></app-sugerencia>
        </div>
        
    </div>

    
<div class="app-product">
        <div class="product">
            <app-card-product>

    </app-card-product> 
    
        </div>

       <div class="app-sugerencia">
        <app-sugerencia></app-sugerencia>
      </div>

<div class="app-carrusel">
        <app-carrusel></app-carrusel>
    </div>

</div>
    <div class="app-footer">
        <div class="footer">
            <app-footer></app-footer>
     </div></div>
</div>