

  .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 250px;
    border-radius: 4px;
  }
  .card-img-top{
  height: 213px;
  margin-top: 10px;
  margin-bottom: 10px;
  }
  .card-body{
    border-top: 2px solid #b4b2b2;
    width: 230px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .card-nombre{
    width: 200px;
    font-size: 18px;
  }
  

  

  @media (max-width: 370px) {
 
    .row{
      margin-right: 0px;
      margin-left: 0px;
      margin-top: 30px;
    }
    .card-img-top{
      height: 136px;
    }
    .card{
      width: 160px;
    }
    .card-body{
    margin-left: 0px;
    margin-right: 0px;
    width: 152px;
    font-size: 12px;
    padding-left: 8px;
  
  }
  .card-nombre{
    font-size: 13px;
    width: 150px;
  }
  
  }
  