<div class="row row-cols-2 row-cols-md-2 g-4">
    <div class="col">
      <div class="card">
        <img src="../../../assets/img/producto/Pad Interfaz Goma Espuma Gancho & Bucle 125mm.webp" class="card-img-top" alt="..." >
        <div class="card-body">
            <h5 class="card-nombre">Pad Interfaz Goma Espuma Gancho & Bucle 125mm</h5>
            <p class="card-precio"> $ 40.888</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../../../assets/img/producto/Barnizz Clear Bicapa 8500 Sherwin Williams + Cata 0,9 L.webp" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-nombre">Pintura Automotriz Retoque Bicapa Color + Laca + Primer</h5>
            <p class="card-precio"> $ 40.888</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../../../assets/img/producto/Cinta Doble Contacto Faz 3m Vhb 4910 Para Interior 19mmx5mts.webp" class="card-img-top" alt="..." >
        <div class="card-body">
            <h5 class="card-nombre">Cinta Doble Contacto Faz 3m Vhb 4910 Para Interior </h5>
            <p class="card-precio"> $ 40.888</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../../../assets/img/producto/Masilla Plasticos Poliester 1 Kg Motos Autos.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-nombre">Masilla Plasticos Poliester 1 Kg Motos Autos</h5>
          <p class="card-precio"> $ 40.888</p>
        </div>
      </div>
    </div>
  </div>